flow1
[{"id":"2640cec3.e24e82","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"760f60cf.8f84a","type":"rpi-gpio out","z":"2640cec3.e24e82","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":730,"y":200,"wires":[]},{"id":"459dfd36.d15194","type":"debug","z":"2640cec3.e24e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":80,"wires":[]},{"id":"1a9031da.78a6ae","type":"rpi-gpio in","z":"2640cec3.e24e82","name":"Button","pin":"13","intype":"up","debounce":"25","read":true,"x":140,"y":300,"wires":[["a129bf6e.51a71","459dfd36.d15194"]]},{"id":"a129bf6e.51a71","type":"switch","z":"2640cec3.e24e82","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":320,"wires":[["25c14f09.5124c"],["ef6d6261.a6746"]]},{"id":"25c14f09.5124c","type":"change","z":"2640cec3.e24e82","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":340,"wires":[["760f60cf.8f84a"]]},{"id":"ef6d6261.a6746","type":"change","z":"2640cec3.e24e82","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":400,"wires":[["760f60cf.8f84a"]]}]
