flow3
[{"id":"9a662a4e.662088","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"538067e7.19f0d8","type":"inject","z":"9a662a4e.662088","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":100,"wires":[["5692e1df.f0c9"]]},{"id":"5692e1df.f0c9","type":"function","z":"9a662a4e.662088","name":"payload","func":"msg.headers={\n    deviceKey: \"R9ToYjHMY2Cs8GPl\"\n};\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["7baf5b4e.7377d4"]]},{"id":"7baf5b4e.7377d4","type":"http request","z":"9a662a4e.662088","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DnPvS3LL/datapoints.csv","tls":"","x":500,"y":260,"wires":[["4ae1b1b.236845","a0a85d37.84417"]]},{"id":"a0a85d37.84417","type":"http response","z":"9a662a4e.662088","name":"","statusCode":"","headers":{},"x":640,"y":380,"wires":[]},{"id":"4ae1b1b.236845","type":"debug","z":"9a662a4e.662088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":200,"wires":[]}]
