flow2
[{"id":"ff151e8.5f924e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1d522260.daff7e","type":"inject","z":"ff151e8.5f924e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["aaad7465.9f71a8"]]},{"id":"aaad7465.9f71a8","type":"function","z":"ff151e8.5f924e","name":"payload","func":"msg.headers={\n    deviceKey: \"R9ToYjHMY2Cs8GPl\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["f4a46683.7b1388","6e1a68af.8f3788"]]},{"id":"f4a46683.7b1388","type":"http request","z":"ff151e8.5f924e","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DnPvS3LL/datachannels/Temperature/datapoints.csv","tls":"","x":590,"y":120,"wires":[["2a8d7fb.0901b8","60776dbf.dee154"]]},{"id":"2a8d7fb.0901b8","type":"http response","z":"ff151e8.5f924e","name":"","statusCode":"","headers":{},"x":740,"y":460,"wires":[]},{"id":"60776dbf.dee154","type":"debug","z":"ff151e8.5f924e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":200,"wires":[]},{"id":"6e1a68af.8f3788","type":"http request","z":"ff151e8.5f924e","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DnPvS3LL/datachannels/Humidity/datapoints.csv","tls":"","x":590,"y":160,"wires":[["2a8d7fb.0901b8","60776dbf.dee154"]]}]
