flow4
[{"id":"ee551169.f7ce4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"abdc143c.808108","type":"http in","z":"ee551169.f7ce4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["619529b8.d56b28"]]},{"id":"619529b8.d56b28","type":"random","z":"ee551169.f7ce4","name":"","low":"1","high":"10","inte":"true","property":"payload","x":300,"y":60,"wires":[["c40d33c8.0aa09","c8d4ba4a.e89488"]]},{"id":"c40d33c8.0aa09","type":"http response","z":"ee551169.f7ce4","name":"","statusCode":"","headers":{},"x":420,"y":140,"wires":[]},{"id":"c8d4ba4a.e89488","type":"debug","z":"ee551169.f7ce4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":260,"wires":[]}]
